body {
	background: transparent url('../img/jungle-bg.jpg') top left repeat;
	font-family: sans-serif;
	font-size: .825em;
	line-height: 1.225em;
}
::selection { background: #cd8; text-shadow: none; }
p {	margin: .5em auto; }
a { text-decoration: none; color: #eeb; }
label { cursor: pointer; }

article {
	width: 300px;
	margin: 3em auto;
	padding: 3em 3em;
	background-color: #33ccff;
	color: white;
	border-radius: 3em;
	box-shadow: 0 0 4em #000;
	position: relative;
}

article>header {
	background: transparent url('../img/pappagallo-logo.png') top left no-repeat;
	height: 150px;
	width: 100%;
	margin-bottom: 3em;
}

article>footer {
	-moz-box-sizing: border-box; /* Firefox 1+ */
	box-sizing: border-box;
	width: 100%;
	padding: 2em 3em;
	background-color: #1D223C;
	color: #CCC;
	border-radius: 0 0 3em 3em;
	position: absolute;
	bottom: 0;
	left: 0;
}
article>footer .note { font-size: 10px; line-height: 13px; }

article>div {
	margin: 2em 0;
	width: 100%;
}

#tweet, #hashtags, #urls { display: none; }

.textarea {
	border-radius: 1em;
	-moz-box-sizing: border-box; /* Firefox 1+ */
	box-sizing: border-box;
	background-color: #fff;
	color: #888;
	margin-top: .5em;
	min-height: 60px;
	padding: .5em;
	width: 100%;
}
.textarea a {
	color: #da2;
}

.counter {
	border: 0;
	width: 100%;
	text-align: right;
	background-color: transparent;
	color: #fff;
}


#tweet>p>span:first-child { float: left; }
#tweet>p>span:last-child { float: right; }
#at { font-size: 1.2em; position: relative; top: 2px; }
#user {
	height: 2em;
	border-radius: .5em;
	border: none;
	font-weight: bold;
	padding: 0 1em;
	width: 115px;
}

#face {
	display: none;
	-moz-box-sizing: border-box; /* Firefox 1+ */
	box-sizing: border-box;
	min-height: 48px;
	width: 100%;
	padding-left: 60px;
	border-radius: 1em;
	position: relative;
}
#baloon-arrow {
	position: absolute;
	top: -2.05em;
	left: 40px;
}

#media {
	display: none;
	-moz-box-sizing: border-box; /* Firefox 1+ */
	box-sizing: border-box;
	width: 100%;
}
#media img { width: 100%; 	border-radius: 1em;
	overflow: hidden;
}

#video { display: none; }




#error {
	display: none;
	position: absolute;
	left: 55%;
	top: 80px;
	max-width: 40%;
	-moz-box-sizing: border-box; /* Firefox 1+ */
	box-sizing: border-box;
	padding: .5em 1em;
	border-radius: 1em;
	box-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
	background-color: #FFF;
	font-size: 1.225em;
	color: #000;
	z-index: 100;
}
#error img {
	position: absolute;
	top: 5px;
	left: -12px;
}

#loader {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}




/*
** utility classes
*/
.box-transition-slow {
  -webkit-transition: all 1.5s ease-out 1s;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 1.5s ease-out 1s;  /* Firefox 4-15 */
       -o-transition: all 1.5s ease-out 1s;  /* Opera 10.50–12.00 */
          transition: all 1.5s ease-out 1s;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}

.box-transition {
  -webkit-transition: all 0.5s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.5s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.5s ease-out;  /* Opera 10.50–12.00 */
          transition: all 0.5s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}
